body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-ajout {
  position:fixed !important;
  right:2%;
  bottom:2%;
  z-index: 2;
}
::selection {
  background: rgb(255,64,129) !important; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgb(255,64,129) !important; /* Gecko Browsers */
  color: white;
}
h4 {
	margin: 0 !important;
}
.mdl-dialog__title {
	padding: 0px 24px 0 !important;
}