<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<h1><%= title %></h1>
<form id="formAddFilm" name="addfilm" action="/films" method="post">
    <p>
        Titre:
        <input id="inputTitle" type="text" placeholder="ex. Taxi 3" name="title">
    </p>

    <p>
        Année:
        <input id="inputAnnee" type="number" maxlength="4" minlength="4" placeholder="1994" name="year">
    </p>

    <p>
        Genre:
        <input id="inputGenre" type="text" placeholder="Fantastique" name="genre">
    </p>

    <p>
        Résumé:
        <textarea id="inputSummary" name="genre" cols="30" rows="30" />
    </p>

    <p>
        Durée (min):
        <input id="inputDuree" type="number" placeholder="120" name="duree">
    </p>

    <p>
        Nationalite:
        <input id="inputNationalite" type="text" placeholder="France" name="nationalite">
    </p>

    <hr/>

    <h2> Directeur </h2>

    <p>
        Nom:
        <input id="inputDNom" type="text" placeholder="John" name="director.lastname">
    </p>

    <p>
        Prénom:
        <input id="inputDPrenom" type="text" placeholder="Smith" name="director.firstname">
    </p>

    <p>
        Date de naissance:
        <input id="inputDDdn" type="date" name="director.birth_date">
    </p>


    <p>
        Role:
        <input id="inputDRole" type="text" placeholder="Breh" name="director.role">
    </p>

    <hr/>

    <h2> Acteurs  </h2>

    <p>
        Acteurs:
        TODO
    </p>

    <button id="btnSubmit" type="submit">Submit</button>
</form>
</body>
</html>